<p style="color: green"><%= notice %></p>

<%= render @genre %>

<h3>Books in this Genre</h3>
<% if @genre.books.any? %>
  <ul>
    <% @genre.books.each do |book| %>
      <li><%= link_to book.title, book %> by <%= link_to book.author.name, book.author %></li>
    <% end %>
  </ul>
<% else %>
  <p>No books found in this genre.</p>
<% end %>

<div>
  <%= link_to "Edit this genre", edit_genre_path(@genre), class: "btn btn-warning" %> |
  <%= link_to "Back to genres", genres_path, class: "btn btn-default" %>

  <%= button_to "Destroy this genre", @genre, method: :delete, class: "btn btn-danger" %>
</div>
