<div id="<%= dom_id library %>">
  <p>
    <strong>Name:</strong>
    <%= library.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= library.address %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= library.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= library.longitude %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= library.phone %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= library.website %>
  </p>

</div>
