<div id="<%= dom_id book %>">
  <h3><%= book.title %></h3>
  <p><strong>Description:</strong> <%= book.description %></p>
  <p><strong>Published Year:</strong> <%= book.published_year %></p>
  <p><strong>Author:</strong> <%= link_to book.author.name, book.author %></p>
  <p><strong>Genres:</strong>
    <% if book.genres.any? %>
      <%= raw book.genres.map { |g| link_to g.name, g }.join(', ') %>
    <% else %>
      None
    <% end %>
  </p>
</div>
